{% extends 'layout/layoutEmail.html.twig' %} 

{% block title %}New Episode{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>New episode {{ episode.title }} created</h1>

    <p>Hello, the new episode {{ episode.title }} has been created on Wild Series</p>

    <p>Summary : {{episode.synopsis }}

{% endblock %}